<%= form_for(@store) do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br />
    <%= f.select :category,["Jersey", "Footwear","Custom T-shirt","Polo"]  %>
  </div>
   <div class="field">
    <%= f.label :picture %><br />
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :stocklevel %><br />
    <%= f.number_field :stocklevel %>
  </div>
  <div class="field">
    <%= f.label :startdate %><br />
    <%= f.text_field :startdate,id: :datepicker %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
