<%= form_for(@player_statistic) do |f| %>
  <% if @player_statistic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player_statistic.errors.count, "error") %> prohibited this player_statistic from being saved:</h2>

      <ul>
      <% @player_statistic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_id %><br />
    <%= f.collection_select :player_id, Player.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :ppg %><br />
    <%= f.text_field :ppg %>
  </div>
  <div class="field">
    <%= f.label :rpg %><br />
    <%= f.text_field :rpg %>
  </div>
  <div class="field">
    <%= f.label :apg %><br />
    <%= f.text_field :apg %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
