<!DOCTYPE html>
<html>
<head>
  <title>Nba</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="banner">
<%= @page_title || "  " %>
</div>
<div id="columns">
<p align="right">
<% if !signed_in? %>
		<%= link_to "Sign In", signin_path %>		
	<% else %>
		Signed in as <%= @current_user.name %>
		<%= link_to "Sign Out", signout_path %>
		<%= link_to "Edit Profile", edit_user_path(@current_user) %>
	<%end %>
</p>
<table  align="center" width="90%", heigh="60%" >
  <tr id="cellcolor" >
	<th><%= link_to "Home", pages_home_path %></th>
	<th><%= link_to "Divisions", divisions_path %></th>
    <th><%= link_to "Teams", teams_path %></th>
    <th><%= link_to "Players", players_path %></th>
	<th><%= link_to "Coaches", coaches_path %></th>
    <th><%= link_to "Statistics", player_statistics_path %></th>
  </tr>
</table>

</div>


<%= yield %>

<div id = "footer" align="center">
DT354 Year 3  Zechen Wang
</div>



</body>
</html>
